body{
    font-family: 'Montserrat', sans-serif;
}
#heading-style{
    font-size: 60px;
    position: center;
    font-weight: bolder;
    padding-top: 100px;
}
#heading-style2{
    font-size: 40px;
    font-weight: bolder;
    padding-top: 150px;
}
#colour-blue{
    color: #2218C9;
}
.para-style{
    text-align: justify;
    font-size: 20px;
    padding-bottom: 30px;
}

.button-style{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(blue,#7A74E0);
    padding: 20px 20px;
    border-radius: 28px;
}
.section-style1{
    display: flex;
    padding-top: 50px;
    padding-bottom: 80px;
}
.section-style2{
    display: flex;
    background-image: url(images/second-sec-bg.jpg);
    background-size: contain;      
}
.section-style3 p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
    padding-left: 350px;
    padding-right: 350px;
}
.section-style3 h2{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 80px;
}
.section-element{
    
    width: 50%;
    padding-left: 100px;
    padding-right: 100px;

}
.section-element img{
    float: right;
    padding-top: 10px;
}