body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

.section-style1{
    display: flex;
    padding-top: 50px;
    padding-bottom: 80px;
}

.section-element{
    
    width: 50%;
    padding-left: 100px;
    padding-right: 100px;

}

.section-element img{
    float: right;
    padding-top: 10px;
}

#heading-style{
    font-size: 60px;
    position: center;
    font-weight: bolder;
    padding-top: 100px;
}
#heading-style2{
    font-size: 40px;
    font-weight: bolder;
    padding-top: 150px;
}

#colour-blue{
    color: #2218C9;
}

.para-style{
    text-align: justify;
    font-size: 20px;
    padding-bottom: 30px;
}

.button-style{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(blue,#7A74E0);
    padding: 20px 20px;
    border-radius: 28px;
}

.section-style2{
    display: flex;
    background-image: url(images/second-sec-bg.jpg);
    background-size: 100% 100%;      
}


.section-style3 h2{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 80px;
}

.section-style3 p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
    padding-left: 350px;
    padding-right: 350px;
}


.shadow-style{
    width: 40%;
    padding: 15px 15px 40px 15px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 100px gray;
    border-radius: 30px;
}

.shadow-style img{
    width: 100%;
    border-radius: 15px;
}

.shadow-style h2{
    font-size: 30px;
    font-weight: bolder;
}

.shadow-style p{
    font-size: 18px;
}


#catering-section{
    padding-top: 50px;
    padding-bottom: 80px;
    background-image: url(images/catering-section-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#catering-section div{
    text-align: center;
    font-weight: bolder;
    padding-top: 20px;;
    padding-bottom: 50px;
}

#view-button{
    background-color: white;
    margin: auto;
    padding: 15px 15px 15px 15px;
    width: 5%;
    border: 5px;
    border-style: solid;
    color: black;
    border-radius: 10px;
    text-decoration: none;

}

#catering-style{
    display: flex;
}

.catering-element{
    background-color: white;
    width: 50%;
    padding: 15px 15px 40px 15px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 100px gray;
    border-radius: 30px;
}

.catering-element img{
    width: 100%;
    border-radius: 80px;
}

.catering-element h2{
    text-align: center;
}


.social-media-section{
    display: flex;
    width: 80%;
    height: auto;
    padding: 15px 15px 40px 15px;
    margin: auto;
    box-shadow: 10px 10px 100px gray;
    border-radius: 30px;
}

.social-media-style{
    padding-left: 10px;
    padding-right: 10px;
}

.social-media-style img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 30px;
}

.social-media-style h2{
    text-align: center;
}


#footer-style{
    background-color:black;
    color: white;
    margin-top: 80px;
    
}
#footer-style h2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}
#footer-style h2 span{
    font-size: 25px;
    font-weight: bold;
    color: rgb(24, 24, 173);
}
#footer-style p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px
}